.recipes {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.h1__recipes {
  font-family: 'URW-black';
  font-size: 40px;
  font-weight: 200;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 1rem;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.recipe-img {
  width: 250px;
  height: 200px;
}

@media (max-width: 991px) {
  .h1__recipes {
    font-size: 30px;
    width: 100%;
  }
  .h1__recipes,
  .header__paragraph {
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .h1__recipes {
    margin-top: 0;
  }
}
