#wordpress-blog-post {
  max-width: 1200px;
  margin: auto;
}

.recipe-h1 {
  text-align: center;
  font-size: 42px;
  margin-top: 20px;
}

.image {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 80%;
  object-fit: cover;
}

.has-text-align-center {
  text-align: center;
  padding: 15px 0;
}

.wp-block-group {
  box-sizing: border-box;
}

.wp-block-columns {
  display: flex;
  margin-bottom: 1.75rem;
  flex-wrap: wrap;
}

.wp-block-column {
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
}

.wp-block-separator {
  max-width: 10%;
  margin: 2em auto 2em;
  overflow: hidden;
  opacity: 0.4;
}

p {
  max-width: 900px;
  margin: auto;
  line-height: 1.618;
}

ol {
  max-width: 900px;
  margin: auto;
}

li {
  margin: 10px 0;
}

pre {
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  padding: 1.618em;
  max-width: 900px;
  font-size: 1em;
}

.wp-block-verse {
  white-space: pre-wrap;
  overflow: auto;
  margin: 40px auto;
  display: flex;
}

@media (max-width: 991px) {
  .wp-block-columns p {
    margin: auto;
  }
  p {
    text-align: center;
  }
  li,
  ol {
    font-size: 16px;
  }
  ol {
    padding: 0 35px;
  }
  .recipe-h1 {
    font-size: 25px;
    padding-bottom: 15px;
    margin-top: -10px;
  }
  em {
    font-size: 14px;
  }
}
